/**************************************************Debut Responsive 840px**************************************************************/

@media (max-width: 840px){

/*Debut du Header***************************************************************************************************************/

header{

width: auto;
background: #46b5df;
height: 280px;

}

#header{

width: 270px;
height: 280px;
padding-top: 18px;
margin: 0 auto;

}

#raison_social{

width: 260px;
height: 60px;
padding-right: 10px;
margin: 0 auto;	

}

#nav_superieur{

width: 270px;
height: 65px;
margin: 0 auto;
margin-left: 0px;

}


#connexion{

width: 260px;
padding-left: 10px;
margin: 0 auto;

}

.separation1{

display: none;

}

.separation2{

display: block;
width: 270px;
height: 2px;
margin: 0 auto;
margin-top: 10px;
margin-bottom: 10px;
background: #fff;
float: left;

}

/*Fin du Header***************************************************************************************************************/

/*Debut de la Navigation***************************************************************************************************************/

nav ul a{

	width: 100px;
	height: 100px;

}

#qui_sommes_nous{

	width: 100px;
	
}

#activites{

	width: 100px;
	
}

#equipe{

	width: 100px;
	
}

#nous_aider{

	width: 100px;

}

/*Fin de la Navigation***************************************************************************************************************/

/******************************************************Debut de corps**********************************************************/

/*Debut de flash_info***************************************************************************************************************/

#flash_info{

	max-width: 232px;
	width: 100%;
	height: 618px;
	float: left;
	

}


/*Fin de flash_info***************************************************************************************************************/

/*Debut de videos***************************************************************************************************************/

#dernieres_videos{

	max-width: 224px;
	width: 100%;
	height: 480px;
	float: left;
	
}

/*Fin de videos***************************************************************************************************************/

}

/**************************************************Fin Responsive 840px**************************************************************/


/**************************************************Debut Responsive 760px**************************************************************/

@media (max-width: 760px){

/*Debut de la Navigation***************************************************************************************************************/

nav{

	max-width: 435px;
	margin-top: 14px;

}

nav ul{

	margin-top: 0px;

}

nav ul a{

	width: 90px;
	height: 90px;

}

#qui_sommes_nous{

	width: 90px;
	margin-top: 0px;
	
}

#activites{

	width: 90px;
	margin-left: 5px;
	margin-top: 0px;
	
}

#equipe{

	width: 90px;
	margin-top: 5px;
	
}

#nous_aider{

	width: 90px;
	margin-left: 5px;
	margin-top: 5px;

}

/*Fin de la Navigation***************************************************************************************************************/

/*Debut de contact***************************************************************************************************************/

#contact{

	font-size: 20px;

}

#telephone{

	margin-left: 10px;

}

/*Fin de contact***************************************************************************************************************/

/*Debut des infos***************************************************************************************************************/

#flash_info{

	height: 312px;
	margin-left: 30px;

}

#contour{

	height: 306px;

}

#infos{

	height: 180px;
	
}

/*Fin des infos***************************************************************************************************************/

/*Debut de videos***************************************************************************************************************/

#dernieres_videos{

	height: 312px;
	margin-bottom: 30px;
	
}

#zone_videos{

	height: 312px;

}

#videos{

	margin-top: 0px;

}

/*Fin de videos***************************************************************************************************************/


}

/**************************************************Fin Responsive 760px**************************************************************/


/**************************************************Debut Responsive 590px**************************************************************/

@media (max-width: 590px){

/*Debut de temoignage***************************************************************************************************************/

#temoignage{

	display: none;

}

/*Fin de temoignage***************************************************************************************************************/

/*Debut de slider***************************************************************************************************************/

#slider1_container{

	display: none;

}

#corps_index{

	margin-top: 10px;

}

/*Fin de slider***************************************************************************************************************/

/*Debut de contact***************************************************************************************************************/

#contact{

	display: none;

}

/*Fin de contact***************************************************************************************************************/

/**************************************************Debut de footer**************************************************************/

#zone_footer{

	height: 200px;

}

#footer{

	height: 200px;

}

#nav_secondaire{
	
	width: 145px;

}

#nav_secondaire li{

	clear: left;
	width: 145px;
	text-align: center;

}

.separation3{

	margin-right: 0px;
	margin-bottom: 6px;

}

#liens_secondaires{

	width: 145px;
	height: 50px;
	clear: left;

}

#liens_secondaires li{

	clear: left;
	width: 145px;
	text-align: center;

}

.separation4{

	margin-right: 0px;
	margin-bottom: 6px;

}

/**************************************************Fin de footer**************************************************************/

}

/**************************************************Fin Responsive 590px**************************************************************/

/**************************************************Debut Responsive 502px**************************************************************/

@media (max-width: 502px){

/*Debut de article***************************************************************************************************************/

#une #titres h2{

	padding-left: 0px;

}

.article .corps_article p{

	padding-left: 0px;

}

/*Fin de article***************************************************************************************************************/

/*Debut de videos***************************************************************************************************************/

#dernieres_videos{

	margin-top: 30px;
	margin-left: 30px;
	
}

/*Fin de videos***************************************************************************************************************/

}

/**************************************************Fin Responsive 502px**************************************************************/


/**************************************************Debut Responsive 460px**************************************************************/

@media (max-width: 460px){

/*Debut de la Navigation***************************************************************************************************************/

nav{

	max-width: 222px;
	margin-top: 14px;

}

nav ul{

	margin-top: 0px;

}

nav ul a{

	width: 90px;
	height: 90px;

}

#nav_groupe01{

	margin-bottom: 0px;
	
}

#nav_groupe02{

	margin-left: 18px;

}

#nav_groupe03{

	margin-bottom: 10px;
	margin-left: 18px;

}

#qui_sommes_nous{

	width: 90px;
	margin-top: 0px;
	
}

#activites{

	width: 90px;
	margin-left: 5px;
	margin-top: 0px;
	
}

#equipe{

	width: 90px;
	margin-top: 5px;
	
}

#nous_aider{

	width: 90px;
	margin-left: 5px;
	margin-top: 5px;

}

/*Fin de la Navigation***************************************************************************************************************/

}

/**************************************************Fin Responsive 460px**************************************************************/